@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <marquee scrollamount="10"
                 direction="right"
                 behavior="scroll">
            <h1>Home Page Under Constructure</h1>
        </marquee>    

    </div>
</div>

