  <div class="modal fade" id="model" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div style="height:600px;" id="chart100"></div>
                </div>
            </div>
        </div>
    </div>

