<div class="modal fade" id="myUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@MyIhsan.LanguageResources.Authentication.Auth.addUsers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ddl_Users" class="col-md-12 control-label">@MyIhsan.LanguageResources.Authentication.Auth.usersPopupTitle</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <select style="width:100%" id="ddl_Users"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="saveBtn" type="button" class="btn btn-primary">@MyIhsan.LanguageResources.Translate.buttonSave</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@MyIhsan.LanguageResources.Translate.Close</button>
                </div>
        </div>
    </div>
</div>